$turquoise : #10b5c9;

.abt-banner {
    background-color: #01283c;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .abt_banner_svg {
        
        position: absolute;
        width: 500px;
        height: 500px;
        right: 5%;
        top: 50%;
        transform: translateY(-50%);

        .earth{
            transform: scale(0.9);
            animation: earthAnim infinite 6s;
        }

        .water{
            animation: waterAnim infinite 4s;
        }


        img {
            position: absolute;
        }
    }

    .container {
        width: 100%;
    }



    .text {
        width: 610px;
        max-width: 100%;


        h2 {
            color: #10b5c9;
            font-size: 62px;
            line-height: 1.1;
            font-family: 'Proxima Nova Th';

            strong {
                font-family: 'Proxima Nova Lt';
            }
        }
    }
}

.programs {
    background-color: #01283c;
    padding: 100px 0;
    position: relative;

    .program_head {
        text-align: center;
        width: 570px;
        max-width: 100%;
        margin: 0 auto 50px;

        h3 {
            color: $turquoise;
            text-transform: uppercase;
            margin-bottom: 20px;
        }

        p {
            color: #fff;
        }
    }

    .programs_slider {
        padding-bottom: 100px;
    }

    .swiper-pagination-progressbar {
        max-width: 40%;
        margin: auto;
        left: 43% !important;
        transform: translateX(-50%);
        bottom: 10px !important;
        top: auto !important;
        background-color: #003755;

        .swiper-pagination-progressbar-fill {
            background-color: #10b5c9 ;
        }
    }

    .swiper-button-prev , .swiper-button-next {
        display: none;
    } 

    

    .slideNav {
        position: absolute;
        bottom: 0px;
        cursor: pointer;

        &#previousButton {
            right: 27%;
        }

        &#nextButton {
            right: 23%;
        }

        span {
            color: #07718a;  
            font-size: 22px;      
        }
    }

    
}

.program_slide {
    margin-top: 100px;

    .item {
        opacity: 0.1;
        transform: scale(0.8) !important;
        transition: 0.6s;

        &.swiper-slide-active {
            opacity: 1;
            transform: scale(1) !important;
        }

        &.swiper-slide-prev {
            opacity: 0;
        }

        h4 {
            color: $turquoise;
            font-size: 32px;
            font-family: 'Proxima Nova Rg';
            text-transform: uppercase;
            font-weight: 200;

        }

        p {
            color: #fff;
            font-size: 18px;
            font-family: 'Proxima Nova Th';
            width: 530px;
            max-width: 100%;
        }

        .img {
            text-align: center;
            margin-top: 40px;

            img {
                width: 100%;
                height: 370px;
                margin: 0 auto;
                object-fit: cover;
            }
        }

        
    }
}

@keyframes earthAnim {
    0% { opacity: 1; margin-left: -28px; margin-top: -10px; }
  
    30% { margin-left: -18px; margin-top: 0px; }

    60% { margin-left: 8px; margin-top: 10px;}
  
    100% { margin-left: -18px; margin-top: 0px; }
}

@keyframes waterAnim {
    0% { margin-right: 7px; margin-top: 0px; }
  
    30% { margin-right: 15px; margin-top: 15px; }

    60% { margin-right: 10px; margin-top: 30px;}
  
    100% { margin-right: 12px; margin-top: 15px; }
}