$turquoise : #10b5c9;

.pl_banner {
    background-color: #01283c;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .container {
        width: 100%;
    }

    .text {
        width: 610px;
        max-width: 100%;


        h2 {
            color: #10b5c9;
            font-size: 62px;
            line-height: 1.1;
            font-family: 'Proxima Nova Th';

            strong {
                font-family: 'Proxima Nova Lt';
            }
        }
    }
}