.banner {
    position: relative;
    width: 100%;
    height: 100vh;

    &::after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, #01283c 5%, rgba(255, 255, 255, 0) 50%);
        z-index: 1;
    }

    video {
        width: 100%;
        height: 100%;
        object-fit: cover;

    }

    .text {
        position: absolute;
        top: 50%;
        width: 900px;
        max-width: 100%;
        z-index: 2;

        h1 {
            font-size: 72px;
            color: #fff;
            font-family: 'Proxima Nova Th';
            font-weight: 100;
        }
    }
}

.abt {
    padding: 100px 0;
    width: 100%;
    overflow: hidden;
    background-color: #01283c;

    .wrap {
        display: flex;
        flex-wrap: wrap;

        .textcard {
            width: 50%;
        }

        .image {
            width: 50%;


            svg {
                width: 100%;
                height: 640px;
                object-fit: cover;
                padding-left: 50px;
            }

        }

        .text {
            margin: 50px 0;
            margin-bottom: 200px;
            padding-right: 50px;

            &:last-child {
                margin-bottom: 0;
            }

            h3 {
                
                text-transform: uppercase;
                margin-bottom: 20px;
                color: #10b5c9;


            }

            p {
                color: #fff;
                width: 80%;
            }
        }
    }
}

.impacts {
    background-color: #01283c;
    min-height: 100vh;
    padding: 80px 0;
    padding-bottom: 80vh;
    position: relative;
    overflow: hidden;

    .map_bg {
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;

        svg {
            width: 100%;
    
            path {
                stroke: #2d74aa;
                opacity: 0.2;
                
           
    
                &.markerdata {
                    stroke: none;
                    position: relative;
                    opacity: 1;
                    animation: pulse 5.5s infinite;
                    
                    
    
                }
            
            }
    
    
        }
    }


    .impact_head {
        color: #fff;

        h3 {
            text-transform: uppercase;
            color: #10b5c9;
        }
        
        p {
            width: 450px;
            max-width: 100%;
            margin-top: 20px;
        }
    }

    .impact-nums {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        padding-top: 200px;
        z-index: 2;
        justify-content: space-around;

        .icard {

            &:nth-child(2),&:nth-child(5),&:nth-child(7) {
                margin-top: -60px;
            }
            width: 33%;
            color: #fff;
            margin: 40px 0;
            text-align: center;

            .icon {
                img {
                    width: 120px;
                }
            }

        
            h2 {
                font-size: 78px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #56e3f4;
                font-family: "Proxima Nova Lt";

                small {
                    font-size: 20px;
                    font-family: 'Proxima Nova Th';
                    margin-left: 16px;
                    line-height: 0;
                }
            }

            p {
                font-size: 16px;
                font-family: 'Proxima Nova Th';
                color: #10b5c9;
            }
        }
    }
}

.objectives {
    background-color: #01283c;
    padding: 100px 0 ;

    .full_image {
        margin-top: 80px;

        img {
            width: 100%;
            height: 640px;
            object-fit: cover;
            // clip-path: inset(15% 15% 15% 15%);

        }

        figcaption {
            color: #fff;
            margin-top: 20px;
            font-family: "Proxima Nova Th";
            font-size: 16px;
            font-weight: 100;
            max-width: 320px;
        }
    }

    .objective_head {
        color: #fff;
        width: 570px;
        max-width: 100%;
        margin: auto;
        margin-bottom: 70px;
        text-align: center;

        h3 {
            color: #10b5c9;
            text-transform: uppercase;
            margin-bottom: 20px;

        }
    }

    .wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .card {
            width: 31.5%;
            height: 332px;
            transition: 0.8s;

            &:hover {
                transform: scale(1.1);
                cursor: pointer;

                .content {
                    transform: scale(0.9);
                }
            }

            .content {
                padding: 20px;
                display: flex;
                height: 88%;
                flex-flow: column;
                justify-content: space-between;
                position: relative;
                transition: 0.8s;
            }

            .svg {
                width: 50px;
            }

            h1 {
                position: absolute;
                font-size: 96px;
                font-weight: 100;
                color: #fff;
                font-family: "Proxima Nova Bl";
                opacity: 0.1;
                right: 15px;
                bottom: 0;
            }    

            a {
                color: #fff;
                font-weight: 100;
                font-family: "Proxima Nova Th";
            }

            h2 {
        
                font-family: "Proxima Nova Rg";
                font-size: 22px;
                max-width: 190px;
                color: #fff;
                text-transform: uppercase;
            }
            
        }
    }
}

.nepal {
    padding: 100px 0;
    background-color: #01283c;

    svg {
        width: 100%;

        path {
            stroke: #2d74aa;
            opacity: 0.2;
            
            &.mdp {
                stroke: none;
                animation-duration: 2s;
                animation-name: pulse;
                transform-origin: 50% 50%;
                animation-iteration-count: infinite;
                opacity: 1;
                
            }

            &.markerdata {
                stroke: none;
                position: relative;
                opacity: 1;
                
                
                

            }
        
        }


    }
}

.home_slider {
    background: #01283c;
    padding: 100px 0;

    .head {
        text-align: center;
        width: 570px;
        max-width: 100%;
        margin: auto;

        h3 {
            color: #10b5c9;
            text-transform: uppercase;
            margin-bottom: 20px;
        }

        p {
            color: #fff;
        }
    }

    .wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 80px;

        .num_wrap {
            width: 33%;

            &:nth-child(2) {
                .num_flex {
                    justify-content: center;
                }

                p {
                    text-align: center;
                }

                h6 {
                    margin-left: 15px ;
                }
            }

            &:last-child {
                p {
                    text-align: center;
                    margin-left: 55px;
                }

                .num_flex {
                    justify-content: flex-end;
                }
            }


            p {
                color: #08697d;
                margin-top: 20px;
                font-size: 18px;
                font-weight: 200;
            }

            .num_flex {
                display: flex;
                align-items: center;
                flex-wrap: wrap;

                
                h4 {
                  
                    font-size: 78px;
                    color: #56e3f4;
                    margin-right: 10px;  
                    line-height: 1; 
                    font-family: "Proxima Nova Lt";
                    letter-spacing: -1px;
                }

                h6 {
                    color: #56e3f4;
                    font-size: 28px;
                    font-weight: 200;
                    line-height: 1;
                }

                .icon {
                    width: 25%;
                    img {
                        width: 100px;

                    }
                }
            }

        }
    }
}

.ant-tooltip-placement-top .ant-tooltip-arrow {
    display: none;
}

.slider_range {
    margin-top: 140px;
    padding-bottom: 80px;

    span.ant-tooltip-arrow-content {
        display: none;
    }
    
    
    .ant-slider {
        max-width: 80%;
        margin: auto;
    }

    .ant-slider-step {
        height: 10px;
        background-color: #003755;
    }

    .ant-slider-handle {
        width: 80px;
        height: 80px;
        margin-top: -36px;
        background-color: #56e2f3;
        border: solid 0px #91d5ff;
        position: relative;

        p {
            color: #56e2f3;
            margin-top: 20px;
            font-size: 16px;
            position: absolute;
            width: 190px;
            text-align: center;
            bottom: -60px;
            left: -50px;
            line-height: 1.2;
            font-family: "Proxima Nova Th";
        

        }

    }

}

.ant-tooltip-inner {
    background-color: transparent;
    padding: 0;
    min-height: auto;
    font-size: 32px;
    transform: translateY(76px);
    font-family: "Proxima Nova Lt";
    box-shadow: none;
    cursor: pointer;
    
}



  
@keyframes pulse {
    0% {
      stroke-width: 2;
      stroke: #e4a261;
    }

    50% {
        stroke-width: 50;
        stroke: #e4a261;
        opacity: .3;
      }

    100% {
        stroke-width: 1;
        stroke: #e87707;
        ;

    }
}



@media screen and (max-width: 480px) {

    .banner .text h1 {
        font-size: 55px;
    }

    .abt .wrap .textcard {
        width: 100%;
    }

    .abt .wrap .text {
        padding-right: 0;
        margin-bottom: 100px;
    }

    .abt .wrap .text p {
        width: 100%;
    }

    .abt .wrap .image {
        width: 100%;
    }

    .abt .wrap .image svg {
        padding-left: 0;
    }

    .impacts .impact-nums .icard {
        width: 100%;
    }

    .impacts .impact-nums .icard:nth-child(2), .impacts .impact-nums .icard:nth-child(5), .impacts .impact-nums .icard:nth-child(7) {
        margin-top: 40px;
    }

    .objectives .wrap .card {
        width: 100%;
        margin: 2px 0;
    }

    footer .footer_top .wrap {
        display: block;

        h4 {
            text-align: center;
        }
    }

    .social_icon {
        margin-top: 20px;
        text-align: center;
    }

    footer .footer_bottom .logo {
        justify-content: center;
    }

    footer .footer_bottom .wrap {
        display: block;
        text-align: center;

        .copyright {
            margin-top: 20px;
        }
    }
}