header {
   
    // overflow: hidden;
    margin: auto;
    z-index: 999;
    background: #fff;
    position: relative;
    z-index: 99;
    // box-shadow: 0 0 3px rgba(0,55,85,0.4);

    .portal_btn {
        color: #fff !important;
    }

    .logo {
        display: flex;
        align-items: center;

        .primary {
            margin-left: 30px;
        }

        img {
            height: 50px;
        }
    }

    .wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 3vw;
        position: relative;

        .secondary {

            nav {
                ul {
                    li {
                        a {
                            font-size: 14px;
                        }
                    }
                }
            }
            .portal_btn {
         
                color: #fff;
                text-transform: uppercase;
                font-size: 14px;
                font-family: "Proxima Nova Rg";
                position: relative;
                z-index: 2;
                background-color: #10b5c9;
                display: block;
                text-align: center;
                padding: 5px 10px;
         
            }
        }

        
        nav {
           

            ul {
                display: flex;
                align-items: center;

                li {
                    padding: 15px 25px;
                    position: relative;
             
                    
                    &.has_dropdown {
                        cursor: pointer;

                        &:hover {
                      
                           
                            .sub_menu {
                                opacity: 1;
                                visibility: visible;
                                padding-top: 8px;
                                transform: translateY(0);
                            }
                        }

                        .sub_menu {
                            position: absolute;
                            top: 53px;
                            left: 0;
                            z-index: 3;
                            width: 260px;
                            background-color: transparent;
                            opacity: 0;
                            visibility: hidden;
                            transform: translateY(20px);
                            transition: 0.5s;

                            .sm_wrap {
                                position: relative;

                                &::before {
                                    content: "";
                                    width: 12px;
                                    height: 12px;
                                    background: #01283c;
                                    transform-origin: center center;
                                    transform: rotate(-45deg);
                                    position: absolute;
                                    top: -7px;
                                    left: 32px;
                                    margin-left: -7px;
                                    z-index: -1;
                                }
                            }

                            a {
                                display: block;
                                background-color: #fff;
                                border-bottom: 1px solid #dae1e2;
                                color: #003755;
                                padding: 12px 22px ;
                                font-family: "Proxima Nova Lt";
                                font-size: 14px;
                                transition: 0;
                                &:last-child {
                                    border-bottom: 0;
                                }
                            }
                        }
                    }

                    

                    &:last-child {
                        margin-right: 0;
                    }

                    a {
                        color: #003755;
                        text-transform: uppercase;
                        font-size: 17px;
                        font-family: "Proxima Nova Lt";
                    }

                    
                }
            }
        }
    }
}

a {
    &.active  {
        color: #10b5c9 !important;

        &.portal_btn {
            color: #fff !important;
        }
    }
}



@media screen and (max-width: 1400px) {
    header .wrap {
        padding: 0 20px;

        nav {
            ul {
                li {
                    padding: 12px 18px;
                }
            }
        }

       
    }

    .banner .text h1 {
        line-height: 1.1;
    }
}

@media screen and (max-width: 480px) { 
    header {
        nav {
            display: none;
        }
    }

}