header {
    padding: 10px 0;
    overflow: hidden;
    margin: auto;
    z-index: 999;
    background: #fff;
    position: relative;
    z-index: 99;
    // box-shadow: 0 0 3px rgba(0,55,85,0.4);

    .portal_btn {
        color: #fff !important;
    }

    .logo {
        img {
            height: 50px;
        }
    }

    .wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 3vw;
        position: relative;

        .btn {
            

            a {
                color: #fff;
                text-transform: uppercase;
                font-size: 15px;
                font-family: "Proxima Nova Rg";
                position: relative;
                z-index: 2;
                background-color: #10b5c9;
                display: block;
                text-align: center;
                padding: 5px 10px;
            }
        }
        
        nav {
            margin-left: -80px;

            ul {
                display: flex;

                li {
                    margin: 0 25px;

                    &:last-child {
                        margin-right: 0;
                    }

                    a {
                        color: #003755;
                        text-transform: uppercase;
                        font-size: 15px;
                        font-family: "Proxima Nova Lt";
                    }
                }
            }
        }
    }
}

a {
    &.active  {
        color: #10b5c9 !important;

        &.portal_btn {
            color: #fff !important;
        }
    }
}

@media screen and (max-width: 1400px) {
    header .wrap {
        padding: 0 20px;

        nav {
            ul {
                li {
                    margin: 0 18px;
                }
            }
        }

       
    }

    .banner .text h1 {
        line-height: 1.1;
    }
}

@media screen and (max-width: 480px) { 
    header {
        nav {
            display: none;
        }
    }

}