footer {
    padding: 80px 0 20px;
    background: #003755;
    position: relative;
    z-index: 2;

    .logo_support {
        display: flex;

        h4 {
            color: #fff;
            text-transform: uppercase;
            font-family: "Proxima Nova Rg";
            text-align: center;
        }

        .img {
            margin: 0 20px;
        }

        img {
            height: 100px;
            
    
            &:first-child {
                margin-right: 10px;
            }
        }
    }

    .suscribe {
        color: #fff;
        text-align: center;
        padding-bottom: 80px;

        h3 {
            font-family: "Proxima Nova Th";
            text-transform: uppercase;
            color: #10b5c9;
            margin-bottom: 20px;
        }

        p {    
            max-width: 520px;
            margin: auto;
            font-family: "Proxima Nova Th";
            line-height: 1.4;
            margin-bottom: 30px;

        }

        .btn {
            width: 60%;
            margin: auto;
            display: flex;
            justify-content: center;


            button {
                background: #10b5c9;
                border: 0;
                display: inline-flex;
                height: 48px;
                width: 110px;
                font-family: "Proxima Nova Rg";
                color: #fff;
                font-size: 16px;
                text-transform: uppercase;
                justify-content: center;
                align-items: center;
            }
        }
    }

    .footer_top {


        .wrap {
            border-top: 1px solid #0d4564;
            border-bottom: 1px solid #0d4564;
            padding: 30px 0;
            display: flex;
            align-items: center;
            justify-content: space-between;

            h4 {
                font-size: 24px;
                color: #fff;
                font-family: "Proxima Nova Th";
                text-transform: uppercase;
                font-weight: 100;
            }

            .social_icon {
                a {
                    color: #fff;
                    margin: 0 15px;
                    font-size: 18px;
                    opacity: 0.8;

                    &:last-child {
                        margin-right: 0;
                    }

                    svg {
                        path {
                            stroke-width: 1px;
                        }
                    }
                }
            }
        }
    }

    .footer_bottom {
        padding: 30px 0px 10px;

        .wrap {
            display: flex;
            justify-content: center;
            align-items: flex-end;
        }

        a {
            color: #fff;
        }

        

    }

    .footer_copy {
        padding-top: 20px;
        border-top: 1px solid #0d4564;

        .wrap {
            display: flex;
            justify-content: center;
            align-items: flex-end;
        }

        a {
            color: #fff;
        }


        p {
            color: #fff;
            font-size: 14px;
            font-family: "Proxima Nova Th";
            font-weight: 100;

            margin-right: 10px;
        }
   
    }

}

.suscribe {
    padding: 80px 0;
    background-color: #b5dcf1;

    .head {

        text-align: center;

        h3 {
            font-family: "Proxima Nova Rg";
            text-transform: uppercase;
            color: #10b5c9;
            margin-bottom: 20px;
        }

        p {    
            max-width: 100%;
            width: 520px;
            margin: auto;
            line-height: 1.4;
            margin-bottom: 30px;

        }
    }

    .wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 100px;

        .saathi {
            width: 32%;
            background-color: #fff;
            padding: 20px;

            .img {
                text-align: center;
                margin-top: -105px;
                margin-bottom: 50px;

                img {
                    width: 145px;
                    height: 145px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            } 

            h4 {
                text-transform: uppercase;
                font-size: 24px;
                line-height: 1.3;
                margin-bottom: 10px;
                position: relative;
                padding-right: 30px;
                color: #10b5c9;
            }

            a {
                margin-top: 20px;
                margin-bottom: 20px;
                color: #01cbe1;
                text-transform: uppercase;
                font-size: 14px;
                transition: 0.5s;
                display: inline-block;
                position: relative;
                opacity: 0.8;

            
                
                span {
                    padding-left: 10px;
                    position: relative;

                }
            }
        }

    }
}

.sitemap {
    padding-bottom: 30px;

    .wrap {
        display: flex;
        flex-wrap: wrap;
    }

    .sm {
        width: 25%;

        &:nth-child(2) {
            padding-left: 40px;
        }

        &:nth-child(3) {
            padding-left: 40px;
        }

        &:last-child {
            padding-left: 50px;
        }

        h4 {
            text-transform: uppercase;
            font-size: 24px;
            line-height: 1.3;
            margin-bottom: 10px;
            position: relative;
            padding-right: 30px;
            color: #10b5c9;
        }

        a {
            display: block;
            margin: 5px 0;
            color: #fff;
            text-transform: uppercase;
            font-size: 16px;
            position: relative;
        }
    }

}